<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.pan.model.User" >
    <id column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="address_buyer" property="addressBuyer" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    phone, username, password, address_buyer, gender, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="findUserByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="findUserByNameL" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="  findIdByUsername" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    phone
    from user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where phone = #{phone,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pan.model.User" >
    insert into user (phone, username, password, 
      address_buyer, gender, type
      )
    values (#{phone,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{addressBuyer,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{type,jdbcType=CHAR}
      )
  </insert>
  <update id="insertAddress" parameterType="java.lang.String" >
    update user
    set
      address_buyer = #{param1,jdbcType=VARCHAR}
    where username = #{param2,jdbcType=VARCHAR}
  </update>

  <update id="updateUserPwd" parameterType="java.lang.String" >
    update user
    set
     password= #{param2,jdbcType=VARCHAR}
    where username = #{param1,jdbcType=VARCHAR}
  </update>
  <insert id="insertSelective" parameterType="com.pan.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="addressBuyer != null" >
        address_buyer,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addressBuyer != null" >
        #{addressBuyer,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addressBuyer != null" >
        address_buyer = #{addressBuyer,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
    </set>
    where phone = #{phone,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pan.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      address_buyer = #{addressBuyer,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      type = #{type,jdbcType=CHAR}
    where phone = #{phone,jdbcType=INTEGER}
  </update>
</mapper>